table {
    border: 10px solid goldenrod;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    background-color: black;
}

#equal-button {
    background-color: darksalmon;
}

input[type="button"] {
    width: 100%;
    padding: 20px 30px;
    background-color: darkturquoise;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid darkgoldenrod;
    border-radius: 10px;
}

input[type="text"] {
    padding: 20px 30px;
    background-color: burlywood;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 3px solid black;
}

